<div class="reg">
  <div class="container py-5">
    <div class="row py-5">
      <div class="col-md-3"></div>
      <div class="col-md-6">
          <form  [formGroup]="angForm" novalidate #myform='ngForm'>
              <div class="form-group" >
                  <label >Name</label>
                  <input type="name" class="form-control" formControlName="name" #inp1 ngModel  placeholder="Name" >
                </div>
                  <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
                  <div *ngIf="angForm.controls['name'].errors.required">
                  Name is required.
                  </div>
                </div>
              <div class="form-group">
                <label >Mobile Number</label>
                <input type="text" class="form-control" formControlName="numbers" #inp2 ngModel  placeholder="Enter Mobile number" >
                <small class="form-text text-muted">We'll never share your number with anyone else.</small>
              </div>
                <div *ngIf="angForm.controls['numbers'].invalid && (angForm.controls['numbers'].dirty || angForm.controls['numbers'].touched)" class="alert alert-danger">
                  <div *ngIf="angForm.controls['numbers'].errors.required">
                    Mobile Number is required.
                  </div>
              </div>
              <div class="form-group">
                <label >Password</label>
                <input type="password" class="form-control" formControlName="password"#inp3 ngModel  placeholder="Password" >
              </div>
                <div *ngIf="angForm.controls['password'].invalid && (angForm.controls['password'].dirty || angForm.controls['password'].touched)" class="alert alert-danger">
                  <div *ngIf="angForm.controls['password'].errors.required">
                    password is required.
                  </div>
              </div>
              <div class="form-group">
                <label >Profile Photo</label>
                <input type="file" class="form-control"formControlName="image"(change)="onChange($event,regform)" #inp ngModel  >                <small class="form-text text-muted">We'll never share your number with anyone else.</small>
              </div>
                <div *ngIf="angForm.controls['image'].invalid && (angForm.controls['image'].dirty || angForm.controls['image'].touched)" class="alert alert-danger">
                  <div *ngIf="angForm.controls['image'].errors.required">
                    profile photo is required.
                  </div>
              </div>
              <button type="submit" [disabled]="angForm.pristine || angForm.invalid"(click)="adding(myform)" class="btn btn-primary mt-4" >Submit</button>
            </form> 
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>