.bgtop
{
    background-color: #1ebea5;
   z-index: -1;
   height: 222px;
}
.cont
{
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24);

}
.txt
{
    color: #1ebea5;
}
