<div class="web bgtop">
    <div class="container mb-0">
        <div class="row">
            <div class="col-md-12 ">
                <div class="container py-3">
                    <span class="d-inline-block"><img src="assets/logo1.ico" class="rounded-circle"width="60px" height="60px"></span> <div class="text-white d-inline px-2">
                        CHATAPP WEB
                    </div>

                </div>
                <div class="bgbottom">
                    <div class="container">
                        <div class="cont row  my-2 py-4 mx-5">
                            <div class="col-md-8">
                                <div class="px-5">
                                    <div class="pb-3">
                                        <h2 class="text-secondary">To Use ChatApp on Your Computer:</h2></div>
                                    <br>
                                    <p class="py-2 text-secondary">1.Open ChatApp on your phone</p>
                                    <p class="text-secondary pb-2">2.Tap Menu > Settings and select ChatApp Web</p>
                                    <p class="text-secondary pb-2">3.Enter the login details and click Login</p>
                                </div>
                                <div class="py-y px-5"><small class="txt">Need help to get started?</small></div>
                            </div>
                            <div class="col-md-4">
                                <form #myform='ngForm' >
                                    <div class="form-group">
                                        <label>Mobile Number</label>
                                        <input type="number" class="form-control" name="numbers" #inp1="ngModel" ngModel id="exampleInputEmail1" placeholder="Enter mobile number">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password" name="password" class="form-control"  #inp2="ngModel" ngModel id="exampleInputPassword1" placeholder="Password">
                                    </div>
                                    <!-- <button type="button" class="btn btn-primary" (click)="onsubmit(myform)">Login</button> -->
                                    <button type="button" class="btn btn-primary mr-5 mt-3" (click)="onsubmit(myform)" >Login</button> 
                                    <!-- <button type="button" class="btn btn-primary mr-5 mt-3" (click)="onadd()" >Login</button>                                     -->
                                    <button type="button" class="btn btn-primary ml-5 mt-3" (click)="onadd()" >Register</button>                                                                       
                                    <div *ngIf="b==true">
                                        <p >Enter valid credentials</p>
                                    </div>
                                    <div class=" form-check py-5 ">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
