<div class="main">
    <div class="container mx-0 ">
    <div class="row">
      <div class="col-md-4 ">
        <div class="row py-3 px-3 r1 border-right">
          <div class="col-md-6 ">
          <img  class="rounded-circle "src="{{img}}" width="40px" height="40px">
        </div>
        <div class="col-md-2"><img src="assets/status.png" width="20px" height="20px"></div>
        <div class="col-md-2"><img src="assets/chat.png" width="20px" height="20px" class="chat1"></div>
        <div class="col-md-2 hov"><img src="assets/menu.png" width="20px" height="20px" >
          <div class="dropdown-content" (click)="logout()">
              <p>Log Out</p>
            </div>
        </div>
        </div>
        <div class="row px-3 py-3 form-group sch search border-right my-0">
           <i class="fa fa-search" style="font-size: 20px"></i>
            <input class="form-control mr-sm-2 px-5" type="search"(keyup)="disp()" [(ngModel)]="inname" placeholder="Search or start new chat" >
        </div>
        <div class="row border-right collapse1" *ngIf="ser==true" >
            <table class="table">
                <tbody>
                  <tr (click)="view(z)" *ngFor="let z of inputs"  onmouseover="this.style.cursor='pointer';">
                    <td><img class="rounded-circle ml-3" src="{{z.image}}" width="50px" height="50px"></td>
                    <td>{{z.numbers}}<br>{{z.name}}</td>
                  </tr>
                </tbody>
                </table>
        </div>
        <div class="row border-right collapse1" *ngIf="ser==false">
            <table class="table">
                <tbody>
                  <tr (click)="view(i)" *ngFor="let i of c"  onmouseover="this.style.cursor='pointer';">
                    <td><img class="rounded-circle ml-3" src="{{i.image}}" width="50px" height="50px"></td>
                    <td>{{i.numbers}}<br>{{i.name}}</td>
                  </tr>
                </tbody>
                </table>
        </div>
      </div>
      <div class="col-md-8 px-0">
          <div class="container">
            <div class="row" *ngIf="b==true">
              <div class="col-md-2"> </div>
            <div class="col-md-8 px-5 mx-5 py-5 my-5 px-0" > <img class="rounded-circle"src="assets/wait.jpg"></div>
            <div class="col-md-2"></div>
            </div>
            <div class="row" *ngIf="b==false">
                <div class="col-md-12 px-0 " >
                    <nav class="navbar top  r1 justify-content-between  pt-3 pb-2 px-0">
                      <div class="row">
                       
                        <a class="navbar-brand px-5 py-0" href="#">
                          <img src="{{i.image}}" class="rounded-circle py-0" width="50" height="50" alt="">
                        </a>
                        <span>{{i.name}}<br>{{status}}&nbsp;{{type}}</span>
                     </div>
                     <div>                    
                        <i class="fa fa-search font mx-3" ></i>
                        <i class="fa fa-paperclip font mx-3"></i>
                        <i class="fa fa-ellipsis-v font mx-3"></i>
                      </div>
                    </nav>
                </div> 
            </div>
            <div  class=" row bodycont mx-0">
              <div class="col-md-6mx-0  " *ngIf="b==false">
                <table *ngFor="let x of usermessages">
                  <tr class="msgrow">
                    <td>
                      {{x}}
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-md-6" *ngIf="s==true||b==false">
                  <table>
                    <tr  *ngFor="let x of mi">
                      <td>
                        {{x}}
                      </td>
                    </tr>
                  </table>
                </div>
            </div>
            <div class="row bot py-3 content " *ngIf="b==false">
              <div class="col-md-8">
                <form  #msgform="ngForm">
                <input class="form-control  w-100" (keyup)="typing($event.keycode)" ngModel #inp1="ngModel" name="message" type="text" placeholder="Type message here ...." >
              </form>
              </div>
              <div class="col-md-4 ">
                <button type="submit" class="btn btn-primary" (click)="sendButtonClick(msgform)">Send!!</button>
                <i class="fa fa-microphone font ml-4"></i>
              </div>
            </div>
            <div class="row cont px-5 content " >
                  <table>
                      <tr *ngFor="let i of m">
                        <td>{{i}}</td>
                      </tr>
                    </table>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- <script src="http://localhost:4000/socket.io/socket.io.js" ></script>
<script>
  var def=[];
    var socket = io.connect('http://localhost:4000');
    socket.on('cont', data =>
  {

    this.def.push(data);
    });
    console.log(def)
  </script> -->