.r1
{
    background: #eee;
}
.search
{
    background: #fbfbfb;
}
.top
{
    position: fixed;
width:980px;  
}
.collapse1{
    overflow-y:scroll;
    height:550px;}
.content{
    position: fixed;
}
.bot
{
    position: fixed;
    bottom: 0;
   width: 90%
}
.cont
{
    position: absolute;
    top: 100px;
}
.sch{
position: relative;
}
.sch i{
    position: absolute;
    top:25px;
    left:25px;
}
.hov {
    position: relative;
    display: inline-block;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.hov:hover .dropdown-content {display: block;}
.bodycont
{
    position: fixed;
    overflow-y:scroll;
    height:470px;
    top:100px;
    width:950px;
}
.font
{
    font-size: 20px;
}
.font1
{
    font-size: 35px;
}
.msgrow
{
    background: #eeeeee;
    width: 150px;
}